/__pycache__
/production
/train_features
/train_fens.npy
/train_labels.npy
/val_features
/val_fens.npy
/val_labels.npy
/network.nnue
/data.pgn
/Data/*.pgn
/Data/chessData.csv
/data.pgn
train_features.npy
val_features.npy
